PORT=8080
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/auto-flex
MONGODB_DB=auto-flex
CLIENT_ORIGIN=http://localhost:3000
ASGARDEO_BASE_URL=https://api.asgardeo.io/t/your-org
ASGARDEO_CLIENT_ID=your-asgardeo-client-id
NODE_ENV=development
